<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio-13</title>
</head>

<body>
    <style>
        table.customTable {
            width: 100%;
            background-color: #FFFFFF;
            border-collapse: collapse;
            border-width: 2px;
            border-color: #30F811;
            border-style: solid;
            color: #000000;
        }

        table.customTable td,
        table.customTable th {
            border-width: 2px;
            border-color: #30F811;
            border-style: solid;
            padding: 5px;
        }

        table.customTable thead {
            background-color: #30F811;
        }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <form action="" v-if="!is_Login">
            <fieldset>
                <legend>Email</legend>
                <input type="text" name="email" v-model="email">
            </fieldset>
            <fieldset>
                <legend>Password</legend>
                <input type="password" name="password" v-model="password">
            </fieldset>
            <button @click="login" type="button">Ingresar</button>
        </form>
        <table class="customTable" v-if="is_Login">
            <thead>
                <tr>
                    <th>Datos personales</th>
                    <th>Datos de contacto</th>
                    <th>Datos de compañia</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr v-for="u in users">
                    <td>{{u.name}}, {{u.username}}</td>
                    <td>{{u.email}}, {{u.phone}}</td>
                    <td>{{u.company.name}}, {{u.company.name}}</td>

                    <td>
                        <button type="button" @click="edit(u)">
                            edit
                        </button>
                        <button type="button" @click="remove(u.id)">
                            delete
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
        <button @click="action='add'">Add new record</button>
        <div class="rendered-form" v-if="action=='add'">
            <div class="">
                <h1 access="false">Agregar nuevo usuario</h1>
            </div>
            <div>
                <label> Nombre completo</label>
                <input type="text" v-model="new_user.name">
            </div>
            <div>
                <label>Email: </label>
                <input type="text" v-model="new_user.email">
            </div>
            <div>
                <label>Nombre de compañia: </label>
                <input type="text" v-model="new_user.company_name">
            </div>
            <div>
                <button type="button" @click="save('create')">Guardar datos de usuario</button>
            </div>
        </div>

        <div class="rendered-form" v-if="action=='edit'">
            <div class="">
                <h1 access="false">Editar datos de usuario</h1>
            </div>
            <div>
                <label> Nombre completo</label>
                <input type="text" v-model="new_user.name">
            </div>
            <div>
                <label>Email: </label>
                <input type="text" v-model="new_user.email">
            </div>
            <div>
                <label>Nombre de compañia: </label>
                <input type="text" v-model="new_user.company_name">
            </div>
            <input type="hidden" v-model="new_user.id">
            <div>
                <button type="button" @click="save('update')">Guardar datos de usuario</button>
            </div>
        </div>

        <!-- Generated at CSSPortal.com -->



    </div>

    <script type="text/javascript">
        const { createApp, ref } = Vue
        createApp({
            setup() {
                users = ref([]);
                action = ref('');
                email = ref('mortega_20@alu.uabcs.mx');
                password = ref('1234');
                new_user = ref([]);

                let tmp = localStorage.getItem("is_Login");
                if (tmp == null) {
                    tmp = false
                }
                is_Login = ref(tmp)

                return {
                    users,
                    email,
                    password,
                    is_Login,
                    action,
                    new_user


                }
            },
            mounted: function () {
                const getUsers = async () => {

                    const response = await fetch("user.json?v=1.1");
                    const tmp_users = await response.json();
                    this.users = tmp_users;
                }
                if (this.is_Login) {
                    getUsers()
                }
            },
            methods: {
                async login() {
                    const response = await fetch("user.json?v=1.1");
                    this.users = await response.json()
                    this.is_Login = false;
                    this.users.forEach((user) => {
                        if (this.email == user.email) {
                            if (this.password == user.password) {
                                this.is_Login = true;
                                alert("bienvenido");
                                localStorage.setItem("is_Login", "true");
                                localStorage.setItem("user_data", JSON.stringify(user));
                            }
                        }
                    });
                    if (!this.is_Login) {
                        alert("Datos Incorrectos")
                    }
                },
                add() {
                    this.action = 'add';
                },
                edit(target) {
                    this.action = 'edit';
                    this.new_user.name = target.name
                    this.new_user.email = target.email
                    this.new_user.company_name = target.company.name
                    this.new_user.id = target.id

                },
                remove(id) {
                    console.log(id)
                    let c = 0;
                    let i = 0;
                    this.users.forEach((user) => {
                        if (user.id = id) {
                            console.log(user.id)
                            i = c;
                        }
                        c++
                    })
                    this.users.splice(i, 1)
                },
                save(action) {
                    let company = [];
                    company.name = this.new_user.company_name;
                    this.new_user.company = company;

                    if (action == 'create') {
                        this.new_user.id = microtime = (Date.now() % 1000) / 1000;
                        this.users.push(this.new_user)
                        this.new_user = [];
                        alert("Registro añadido exitosamente")
                    }
                    if (action == 'update') {
                        this.users.forEach((user) => {

                            if (user.id == this.new_user.id) {
                                user.name = this.new_user.name
                                user.email = this.new_user.name
                                user.company.name = this.new_user.company_name
                                alert("Registro actualizado correctamente")

                            }
                        })
                    }
                    this.action = '';
                }
            },

        }).mount("#app");
    </script>
</body>

</html>