<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 5</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <h2>Hola {{ message }}</h2>
        <input v-model="message" placeholder="Escribe nombre" />
        <br></br>
        <button @click="count++">
            El conteo es: {{ count }}
        </button>
      <br></br>
        <input  type="number" v-model="numero1" placeholder="ingresa numero" />
        <input  type="number" v-model="numero2" placeholder="ingresa numero" />
        <button @click="suma = numero1+numero2">
            Suma
        </button>
        <h2>Resultado: {{suma}}</h2>
    </div>
    <script type="module">
        const { createApp, ref } = Vue 
        createApp({
            setup() {
                return {
                    count: ref(0),
                    message: ref(),
                    numero1: ref(""),
                    numero2: ref(""),
                    suma: ref(0)
                }
            }
        }).mount('#app')
    </script>
</body>
</html>